openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: Enhance & enrich your data, applications, business processes, and workflows
    with rich location, information, and identify APIs.
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs
  version: 15.0.0
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ""
tags:
- description: Addresses. Gather multiple Addresses if you don’t have them and use
    these to query all other Precisely APIs. The Addresses API accepts names of a
    boundary such as zip code, neighborhood, county, and city—as well as your custom
    geographic boundaries or drivetimes & drive distances—and returns all known &
    valid Addresses associated with these names, or Addresses contained with the supplied
    or chosen geographic boundary.
  name: Addresses Service.
- description: Audience Enrichment. Add local demographics and lifestyle segmentation
    to your audience profiles. The Demographics API returns household demographics
    and lifestyle characteristics with the input of an address, location coordinate,
    or geographic boundary.
  name: Demographics Service
- description: Accurate Geocoding. Convert individual or batch collections of addresses
    to latitude & longitude coordinates and vice versa. Useful for enhancing & enriching
    your customer addresses. This is a global service.
  name: Geocode Service
- description: Local Tax. Add hyperlocal U.S. tax rates to your applications, business
    processes, and workflows. The Local Tax API returns local tax rates with the input
    of location coordinates or addresses. Critical for any billing, commerce, payment,
    or payroll application or service.
  name: Local Tax Service
- description: Neighborhood Insights. Integrate global neighborhood names and classification
    information into your applications and enrich other data. The Neighborhood API
    accepts latitude & longitude coordinates and returns the corresponding neighborhood
    name & type. Useful for a wide range of data enrichment use cases.
  name: Neighborhoods Service.
- description: Global Place Data. Enrich your applications, business processes, and
    workflows with over 180 million of global retail businesses and landmark points-of-interest.
    The Places API accepts multiple powerful inputs & filtering options and returns
    thousands of records in a single API request. The Places API also supports global
    typeahead place search. Useful for enriching your data and/or analytics processes
    with rich commercial business information and place names.
  name: Places Service.
- description: Property Insights. Integrate extensive residential & commercial property
    information into your applications. The Property Information API returns hundreds
    of property attributes for millions of US properties with the input of Location
    Coordinates or Addresses. Useful for Real Estate use cases or those involving
    risk assessments.
  name: Property Information Service
- description: Emergency call handling. Integrate Public Safety Answering Point (PSAP)
    administrative call routing information plus Authority Having Jurisdiction (AHJ)
    phone numbers into your emergency services products and services. The 911/PSAP
    API retrieves 10-digit phone numbers and local contact info with the input of
    a location coordinate. Useful for emergency services administrators, call handlers,
    and dispatchers.
  name: PSAP/911 Service
- description: Risks Insights. Capture Crime, Earthquake, Flood, Fire, Fire Station
    and Distance-to-Flood-Hazard risk data for Analysis, Planning, Claims, and Mitigation.
    The Risks API returns risk intelligence with the input of Location Coordinates
    or Addresses. Critical for any impact analysis involving threats to lives or property.
  name: Risks Service
- description: Accurate Routing. The Routing API returns Point-to-Point and Multi-Point
    Travel Directions by Various Travel Modes. Critical for any Simple or Complex
    Routing Requirement.
  name: Routing Service
- description: School Listings. Gather local multiple school listings, types, districts
    and education levels for your applications. The Schools API accepts multiple powerful
    inputs & geographic filtering options and returns nearby school listings and additional
    data a single API request. Useful for enriching your applications and websites.
  name: Schools Service
- description: Global Street Information. Enrich your applications, business processes,
    and workflows with global street information including nearest intersections and
    speed limits. The Streets API accepts an address or location and returns nearest
    intersection information. The speed limit method accepts a series of locations
    and returns speed limits along a street segment.
  name: Streets Service
- description: Service Provider Intelligence. Identify Local Exchange Carrier presence,
    area codes, exchanges, and more within a Rate Center area. The Telecomm Info API
    retrieves Incumbent Local Exchange Carrier (ILEC) doing-business-as names along
    with NPA/NXX, LATA, and phone number ranges with the input of an address or location
    coordinates. Useful for local telecommunications competitive intelligence, partnerships,
    and provisioning subscribers.
  name: Telecomm Info Service
- description: Local time. The Time Zone API returns time zones and UTC offsets with
    the input of a location coordinate or address. Useful for do-not-call, logistics,
    and customer engagement applications, business processes and workflows.
  name: Time Zone Service
- description: Address Autocomplete. Build global Address Autocomplete into your websites.
    The Address Autocomplete API returns an autocompleted list of complete addresses
    based on partial address keystrokes. Useful for any local search, checkout, shipping,
    or billing experience on your website.
  name: Address Autocomplete Service
- description: Smart Zones. The Zones API returns geographic zones globally—by Radius,
    Drive Distance and Drive Time—as well as highly localized Precisely geofence zones.
    Useful for creating smarter geofence zones for Local Engagement and Analysis.
  name: Zones Service
- description: Real, accurate and complete address. Eliminate errors in address data,
    improve customer experience. The Address Verification API makes communication
    easier, faster and effortless by enriching customer details, keeping it up-to-date
    and maintaining its accuracy and consistency. It eliminates redundancy in reaching
    out to customers and makes it easy for distinct functional areas to work seamlessly
    in improving customer relationship
  name: Address Verification Service
- description: Global Email address verification. The Email Verification API corrects
    and validates your email addresses to protect your database from invalid, toxic
    and undesirable email addresses. We help you avoid a damaged sender reputations
    by flagging those bouncing emails, spam trap hits, honeypots, stale lists and
    do-not-contact list before you have a chance to use them.
  name: Email Verification Service
- description: Global Phone number verification. The Phone Verification API accepts
    any phone number as input and returns verification information, Service Provider
    name, and more. Useful to verify if phone numbers exist to reduce fraud and improve
    communications.
  name: Phone Verification Service
- description: Device Location. The Geolocation API returns location coordinates based
    on the input of an IP Address or Wi-Fi Access point MAC address. Useful for a
    variety of applications, business processes and workflows in eCommerce, Fraud
    Detection, Physical-Digital interactions, Field Service and more.
  name: Geolocation Service
paths:
  /addresses/v1/addresscount/byboundary:
    post:
      description: This service accepts custom geographic boundaries or drive time
        & drive distance, returns the total number of addresses within these boundaries.
      operationId: getAddressesCountbyBoundary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressesByBoundaryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressesCount'
            application/xml:
              schema:
                $ref: '#/components/schemas/addressesCount'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Addresses count by Boundary.
      tags:
      - Addresses Service.
      x-contentType: application/json
      x-accepts: application/json
  /addresses/v1/address/byboundary:
    post:
      description: This service accepts custom geographic boundaries or drive time
        & drive distance, returns all known & valid addresses within these boundaries.
      operationId: getAddressesbyBoundary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressesByBoundaryRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/AddressesByBoundaryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Addresses by Boundary.
      tags:
      - Addresses Service.
      x-contentType: application/json
      x-accepts: application/json
  /addresses/v1/addresscount/byboundaryname:
    get:
      description: This service accepts zip code, neighborhood, county, or city names,
        and returns the total number of addresses associated with these names.
      operationId: getAddressesCountByBoundaryName
      parameters:
      - description: Specifies the largest geographical area, typically a state or
          province.
        in: query
        name: areaName1
        required: false
        schema:
          type: string
      - description: Specifies the secondary geographic area, typically a county or
          district.
        in: query
        name: areaName2
        required: false
        schema:
          type: string
      - description: Specifies a city or town name.
        in: query
        name: areaName3
        required: false
        schema:
          type: string
      - description: Specifies a city subdivision or locality/neighborhood.
        in: query
        name: areaName4
        required: false
        schema:
          type: string
      - description: Specifies the postcode (ZIP code) in the appropriate format for
          the country.
        in: query
        name: postCode
        required: false
        schema:
          type: string
      - description: Name of country. Acceptable values are CAN, USA.
        in: query
        name: country
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressesCount'
            application/xml:
              schema:
                $ref: '#/components/schemas/addressesCount'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Addresses Count by Boundary Name.
      tags:
      - Addresses Service.
      x-accepts: application/json
  /addresses/v1/address/byboundaryname:
    get:
      description: This service accepts zip code, neighborhood, county, or city names,
        and returns all known & valid addresses associated with these names.
      operationId: getAddressesbyBoundaryName
      parameters:
      - description: Specifies the largest geographical area, typically a state or
          province.
        in: query
        name: areaName1
        required: false
        schema:
          type: string
      - description: Specifies the secondary geographic area, typically a county or
          district.
        in: query
        name: areaName2
        required: false
        schema:
          type: string
      - description: Specifies a city or town name.
        in: query
        name: areaName3
        required: false
        schema:
          type: string
      - description: Specifies a city subdivision or locality/neighborhood.
        in: query
        name: areaName4
        required: false
        schema:
          type: string
      - description: Specifies the postcode (ZIP code) in the appropriate format for
          the country.
        in: query
        name: postCode
        required: false
        schema:
          type: string
      - description: Name of country. Acceptable values are CAN, USA.
        in: query
        name: country
        required: true
        schema:
          type: string
      - description: Maximum number of addresses to be returned in response. Max.
          value is 100 for XML/JSON, and 2000 for CSV.
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Response will indicate the page number.
        in: query
        name: page
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/AddressesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Addresses by Boundary Name.
      tags:
      - Addresses Service.
      x-accepts: application/json
  /demographics-segmentation/v1/advanced/demographics:
    post:
      description: 'Demographics Advanced Endpoint will return the aggregated values
        of the selected demographics variables of the regions falling inside a user
        provided geometry or travel time/distance boundaries. All the intersecting
        demographic boundaries will be snapped completely, and user will have option
        to request these boundaries in response.  '
      operationId: getDemographicsAdvanced
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicsAdvancedRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
            application/xml:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics Advanced Endpoint
      tags:
      - Demographics Service
      x-contentType: application/json
      x-accepts: application/json
  /demographics-segmentation/v1/segmentation/bylocation:
    get:
      description: Provides the segmentation details around a specified location.
        GeoLife 'segmentation bylocation' service accepts longitude and latitude as
        an input to return the lifestyle characteristics of households in terms of
        their family status, children characteristics, income behaviors, financial
        preferences and interests.
      operationId: getSegmentationByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segmentation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Segmentation'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Segmentation By Location.
      tags:
      - Demographics Service
      x-accepts: application/json
  /demographics-segmentation/v1/segmentation/byaddress:
    get:
      description: Provides the segmentation details around a specified address. GeoLife
        'Segmentation by Address' service accepts address as an input to return the
        lifestyle characteristics of households in terms of their family status, children
        characteristics, income behaviors, financial preferences and interests.
      operationId: getSegmentationByAddress
      parameters:
      - description: The address to be searched.
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: 3 letter ISO code of the country to be searched.Allowed values
          USA,CAN,GBR,FRA,ITA,AUS,DEU.
        in: query
        name: country
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segmentation'
            application/xml:
              schema:
                $ref: '#/components/schemas/Segmentation'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Segmentation By Address.
      tags:
      - Demographics Service
      x-accepts: application/json
  /demographics-segmentation/v1/demographics/bylocation:
    get:
      description: Provides the demographic details around a specified location. GeoLife
        'bylocation' service accepts longitude and latitude as an input to return
        a specific population segment's age group, ethnicity, income, purchasing behaviour,
        commuter patterns and more.
      operationId: getDemographicsByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: Retrieves the sorted demographic data on the basis of pre-defined
          profiles that can display the top 3 or top 5 results (by location) either
          in ascending or descending order.Allowed values Top5Ascending,Top5Descending,Top3Ascending,Top3Descending
        in: query
        name: profile
        required: false
        schema:
          type: string
      - description: The 'filter' parameter retrieves the demographic data based upon
          specified input themes.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The 'valueFormat' parameter is applicable for few ranged variables
          where percent & count both are available and filter response based on the
          input value.
        in: query
        name: valueFormat
        required: false
        schema:
          type: string
      - description: The 'variableLevel' retrieves demographic facts in response based
          on the input value
        in: query
        name: variableLevel
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
            application/xml:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics By Location.
      tags:
      - Demographics Service
      x-accepts: application/json
  /demographics-segmentation/v1/demographics/byboundaryids:
    get:
      description: 'This endpoint will allow the user to request demographics details
        by census boundary id. Multiple comma separated boundary ids will be accepted. '
      operationId: getDemographicsByBoundaryIds
      parameters:
      - description: Accepts comma separated multiple boundary ids.
        in: query
        name: boundaryIds
        required: false
        schema:
          type: string
      - description: Applicable on ranged variables. Returns top sorted result based
          on the input value.
        in: query
        name: profile
        required: false
        schema:
          type: string
      - description: Accept the comma separated theme names and filter response based
          on value. Maximum 10 can be provided.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: Applicable for few ranged variables where percent & count both
          are available and filter response based on the input value.
        in: query
        name: valueFormat
        required: false
        schema:
          type: string
      - description: Retrieves demographic facts in response based on the input value.
        in: query
        name: variableLevel
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
            application/xml:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics By Boundaryids.
      tags:
      - Demographics Service
      x-accepts: application/json
  /demographics-segmentation/v1/demographics/byaddress:
    get:
      description: Provides the demographic details around a specified address. GeoLife
        'byaddress' service accepts address as an input to return a specific population
        segment's age group, ethnicity, income, purchasing behaviour, commuter patterns
        and more.
      operationId: getDemographicsByAddress
      parameters:
      - description: The address to be searched.
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: 3 letter ISO code of the country to be searched.Allowed values
          USA,CAN,GBR,AUS.
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: Retrieves the sorted demographic data on the basis of pre-defined
          profiles that can display the top 3 or top 5 results (by location) either
          in ascending or descending order.Allowed values Top5Ascending,Top5Descending,Top3Ascending,Top3Descending
        in: query
        name: profile
        required: false
        schema:
          type: string
      - description: The 'filter' parameter retrieves the demographic data based upon
          specified input themes.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The 'valueFormat' parameter is applicable for few ranged variables
          where percent & count both are available and filter response based on the
          input value.
        in: query
        name: valueFormat
        required: false
        schema:
          type: string
      - description: The 'variableLevel' retrieves demographic facts in response based
          on the input value
        in: query
        name: variableLevel
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
            application/xml:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics By Address.
      tags:
      - Demographics Service
      x-accepts: application/json
  /demographics-segmentation/v1/basic/demographics:
    get:
      description: 'Demographics Basic Endpoint will return the aggregated values
        of the selected demographics variables of the regions falling inside the search
        radius. All the intersecting demographic boundaries will be snapped completely
        and user will have option to request these boundaries in response.  '
      operationId: getDemographicsBasic
      parameters:
      - description: Address to be searched
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: Longitude of the location
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: Latitude of the location
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: Radius within which demographics details are required. Max. value
          is 52800 Feet or 10 miles
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: 'Radius unit such as Feet, Kilometers, Miles or Meters '
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Travel Time based on ‘travelMode’ within which demographics details
          are required. Max. value is 1 hour.
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: minutes,hours,seconds,milliseconds. Default is meters.Default
          is minutes.
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Travel Distance based on ‘travelMode’ within which demographics
          details are required. Max. value is 10 miles.
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: feet,kilometers,miles,meters.  Default is feet.
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: Default is driving.
        in: query
        name: travelMode
        required: false
        schema:
          type: string
      - description: 3 digit ISO country code (Used in case address is mentioned).
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: Applicable on ranged variables. Returns top sorted result based
          on the input value.
        in: query
        name: profile
        required: false
        schema:
          type: string
      - description: If Y, demographic boundaries are returned in response.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
            application/xml:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics Basic
      tags:
      - Demographics Service
      x-accepts: application/json
  /geocode/v1/{datapackBundle}/reverseGeocode:
    get:
      description: This service accepts location coordinate and returns an address.
      operationId: reverseGeocode
      parameters:
      - description: datapackBundle
        in: path
        name: datapackBundle
        required: true
        schema:
          enum:
          - premium
          - basic
          - advanced
          type: string
      - description: Longitude of the location.
        in: query
        name: x
        required: true
        schema:
          default: -105.240976
          type: string
      - description: Latitude of the location.
        in: query
        name: "y"
        required: true
        schema:
          default: "40.018301"
          type: string
      - description: Country name or ISO code.
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: Coordinate system to convert geometry to in format codespace:code.
        in: query
        name: coordSysName
        required: false
        schema:
          default: EPSG:4326
          type: string
      - description: Radius in which search is performed.
        in: query
        name: distance
        required: false
        schema:
          default: Radius in which search is performed.
          type: string
      - description: Unit of measurement.
        in: query
        name: distanceUnits
        required: false
        schema:
          default: METERS
          enum:
          - METERS
          - FEET
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Reverse Geocode(Basic/Premium/Advanced)
      tags:
      - Geocode Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for geocode service. It accepts a single
        address or a list of addresses and returns location coordinates
      operationId: reverseGeocodBatch
      parameters:
      - in: path
        name: datapackBundle
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReverseGeocodeRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReverseGeocodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponseList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Reverse Geocode
      tags:
      - Geocode Service
      x-contentType: application/json
      x-accepts: application/json
  /geocode/v1/{datapackBundle}/geocode:
    get:
      description: This service accepts an address and returns the location coordinates
        corresponding to that address. Premium offers the best accuracy and is a high
        precision geocoder leveraging Master Location Data - geocodes to Street or
        building level. Advanced offers advanced accuracy and geocodes to Street level.Basic
        offering will geocode to a Place or Postal level. Good accuracy.
      operationId: geocode
      parameters:
      - description: datapackBundle
        in: path
        name: datapackBundle
        required: true
        schema:
          enum:
          - premium
          - basic
          - advanced
          type: string
      - description: Country name or ISO code.
        in: query
        name: country
        required: false
        schema:
          default: USA
          type: string
      - description: Single line input, treated as collection of field elements.
        in: query
        name: mainAddress
        required: false
        schema:
          default: 4750 Walnut St., Boulder CO, 80301
          type: string
      - description: Match modes determine the leniency used to make a match between
          the input address and the reference data.
        in: query
        name: matchMode
        required: false
        schema:
          default: Standard
          enum:
          - Exact
          - Standard
          - Relaxed
          - Custom
          - Interactive(USA Only)
          - CASS(USA Only)
          type: string
      - description: Specifies whether to attempt to determine a geographic region
          centroid when an address-level geocode cannot be determined.
        in: query
        name: fallbackGeo
        required: false
        schema:
          default: "true"
          type: string
      - description: Specifies whether to attempt to determine a post code centroid
          when an address-level geocode cannot be determined.
        in: query
        name: fallbackPostal
        required: false
        schema:
          default: "true"
          type: string
      - description: The maximum number of candidates to return.
        in: query
        name: maxCands
        required: false
        schema:
          default: "1"
          type: string
      - description: Indicates the offset distance from the street segments to use
          in street-level geocoding.
        in: query
        name: streetOffset
        required: false
        schema:
          default: "7"
          type: string
      - description: Specifies the unit of measurement for the street offset.
        in: query
        name: streetOffsetUnits
        required: false
        schema:
          default: METERS
          enum:
          - METERS
          - FEET
          type: string
      - description: Specifies the distance to offset the street end points in street-level
          matching.
        in: query
        name: cornerOffset
        required: false
        schema:
          default: "7"
          type: string
      - description: Specifies the unit of measurement for the corner offset.
        in: query
        name: cornerOffsetUnits
        required: false
        schema:
          default: METERS
          enum:
          - METERS
          - FEET
          type: string
      - description: Specifies whether to Suppress accents and other diacritical marks.
        in: query
        name: removeAccentMarks
        required: false
        schema:
          default: "false"
          type: string
      - description: 'Specifies if Delivery Point Validation is required. Note: This
          parameter is only applicable for USA addresses.'
        in: query
        name: findDPV
        required: false
        schema:
          default: "false"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Forward Geocode(Basic/Premium/Advanced)
      tags:
      - Geocode Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for geocode service. It accepts a single
        address or a list of addresses and returns location coordinates
      operationId: geocodeBatch
      parameters:
      - in: path
        name: datapackBundle
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeocodeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponseList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Forward Geocode
      tags:
      - Geocode Service
      x-contentType: application/json
      x-accepts: application/json
  /geocode/v1/keylookup:
    get:
      description: This service accepts a PreciselyID and returns the corresponding
        address associated with that PreciselyID.
      operationId: keyLookup
      parameters:
      - description: PreciselyID which maps to a unique address.
        in: query
        name: key
        required: true
        schema:
          type: string
      - description: Specifies the key type - PreciselyID and GNAF_PID for Aus.
        in: query
        name: type
        required: true
        schema:
          type: string
      - description: 3 letter ISO code of the country to be searched.
        in: query
        name: country
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Key Lookup
      tags:
      - Geocode Service
      x-accepts: application/json
    post:
      description: This service accepts batches of PreciselyID's and returns the corresponding
        address associated with those PreciselyID's.
      operationId: keyLookupBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyLookupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/GeocodeServiceResponseList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Key Lookup
      tags:
      - Geocode Service
      x-contentType: application/json
      x-accepts: application/json
  /geocode/v1/key/byaddress:
    get:
      description: This service accepts an address and returns the corresponding PreciselyID
      operationId: getPBKey
      parameters:
      - description: The address to be searched.
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: 3 letter ISO code of the country to be searched.
        in: query
        name: country
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBKeyResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PBKeyResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get PreciselyID By Address
      tags:
      - Geocode Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'PreciselyID By Address' service.
        It accepts a single address or a list of addresses and returns the corresponding
        PreciselyID.
      operationId: getPBKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PBKeyAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBKeyResponseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/PBKeyResponseList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post PreciselyID By Address
      tags:
      - Geocode Service
      x-contentType: application/json
      x-accepts: application/json
  /localtax/v1/taxrate/{taxRateTypeId}/bylocation:
    get:
      description: Retrieves tax rates applicable to a specific location. This service
        accepts longitude, latitude and supported tax rate type as inputs to retrieve
        applicable tax rates.
      operationId: getSpecificTaxRateByLocation
      parameters:
      - description: The tax rate id
        in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      - description: Latitude of the location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Longitude of the location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Taxrate By Location
      tags:
      - Local Tax Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Taxrate By Location' service. It
        accepts a single location coordinate or a list of location coordinates and
        retrieve applicable tax rates.
      operationId: getBatchTaxRateByLocation
      parameters:
      - in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRateLocationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/taxResponses'
            application/xml:
              schema:
                $ref: '#/components/schemas/taxResponses'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Taxrate By Location
      tags:
      - Local Tax Service
      x-contentType: application/json
      x-accepts: application/json
  /localtax/v1/taxrate/{taxRateTypeId}/byaddress:
    get:
      description: Retrieves tax rates applicable to a specific address. This service
        accepts address and supported tax rate type as inputs to retrieve applicable
        tax rates.
      operationId: getSpecificTaxRateByAddress
      parameters:
      - description: The tax rate id
        in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      - description: The address to be searched.
        in: query
        name: address
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Taxrate By Address
      tags:
      - Local Tax Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Taxrate By Address' service. It accepts
        a single address or a list of addresses and retrieve applicable tax rates.
      operationId: getBatchTaxRateByAddress
      parameters:
      - in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRateAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/taxResponses'
            application/xml:
              schema:
                $ref: '#/components/schemas/taxResponses'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Taxrate By Address
      tags:
      - Local Tax Service
      x-contentType: application/json
      x-accepts: application/json
  /localtax/v1/taxdistrict/ipd/byaddress:
    get:
      description: Retrieves IPD (Insurance Premium District) tax rates applicable
        to a specific address. This service accepts address as input and returns one
        or many IPD tax rate details for that region in which address falls.
      operationId: getIPDTaxByAddress
      parameters:
      - description: The address to be searched.
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: Y or N (default is N) - Returns Latitude Longitude Fields.
        in: query
        name: returnLatLongFields
        required: false
        schema:
          type: string
      - description: (default is Decimal) - Returns Desired Latitude Longitude Format.
        in: query
        name: latLongFormat
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDistrictResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxDistrictResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get IPD Tax by Address
      tags:
      - Local Tax Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'IPD Tax rates By Address'. It accepts
        multiple addresses as parameters along with geocoding and matching preferences
        and returns one or many IPD tax rate details for each address.
      operationId: getIPDTaxByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPDTaxByAddressBatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDistrictResponseList'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxDistrictResponseList'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get IPD Tax for batch requests.
      tags:
      - Local Tax Service
      x-contentType: application/json
      x-accepts: application/json
  /localtax/v1/tax/{taxRateTypeId}/bylocation:
    get:
      description: This service calculates and returns tax applicable at a specific
        location. Longitude, latitude, purchase amount and supported tax rate type
        are inputs to the service.
      operationId: getSpecificTaxByLocation
      parameters:
      - description: The tax rate id
        in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      - description: Latitude of the location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Longitude of the location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: The amount on which tax to be calculated
        in: query
        name: purchaseAmount
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Tax By Location
      tags:
      - Local Tax Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Tax By Location' service. It accepts
        a single location coordinate, purchase amount or a list of location coordinates,
        purchase amounts and retrieve applicable tax.
      operationId: getBatchTaxByLocation
      parameters:
      - in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxLocationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/taxResponses'
            application/xml:
              schema:
                $ref: '#/components/schemas/taxResponses'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Tax By Location
      tags:
      - Local Tax Service
      x-contentType: application/json
      x-accepts: application/json
  /localtax/v1/tax/{taxRateTypeId}/byaddress:
    get:
      description: This service calculates and returns taxes applicable at a specific
        address. Address, purchase amount and supported tax rate type are inputs to
        the service.
      operationId: getSpecificTaxByAddress
      parameters:
      - description: The tax rate id
        in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      - description: The address to be searched.
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: The amount on which tax to be calculated
        in: query
        name: purchaseAmount
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/TaxRateResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Tax By Address
      tags:
      - Local Tax Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Tax By Address' service. It accepts
        a single address, purchase amount or a list of addresses, purchase amounts
        and retrieve applicable taxes.
      operationId: getBatchTaxByAddress
      parameters:
      - in: path
        name: taxRateTypeId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/taxResponses'
            application/xml:
              schema:
                $ref: '#/components/schemas/taxResponses'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Tax By Address
      tags:
      - Local Tax Service
      x-contentType: application/json
      x-accepts: application/json
  /neighborhoods/v1/place/bylocation:
    get:
      description: Identifies and retrieves the nearest neighborhood around a specific
        location. This service accepts latitude & longitude as input and returns a
        place name.
      operationId: getPlaceByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: Numeric code of geographic hierarchy level which is classified
          at six levels.Allowed values 1,2,3,4,5,6
        in: query
        name: levelHint
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeighborhoodsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/NeighborhoodsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Place By Location.
      tags:
      - Neighborhoods Service.
      x-accepts: application/json
  /places/v1/poicount:
    post:
      description: Accepts a user-defined boundary as input and returns the Count
        number of POIs within the boundary. Additionally, user can request the count
        of filtered POIs by name, type, standard industrial classifications and category
        codes within the given polygon.
      operationId: getPOIsCount
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PoiCountRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PoiCountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/poiCount'
            application/xml:
              schema:
                $ref: '#/components/schemas/poiCount'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Points Of Interest Count
      tags:
      - Places Service.
      x-contentType: application/json
      x-accepts: application/json
  /places/v1/poi/byboundary:
    post:
      description: Accepts a user-defined boundary as input and returns all Points
        of Interest within the boundary. Additionally, user can filter the response
        by name, type, standard industrial classifications and category codes.
      operationId: getPOIsByGeometry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POIByGeometryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Points Of Interest By Boundary
      tags:
      - Places Service.
      x-contentType: application/json
      x-accepts: application/json
  /places/v1/poi/{id}:
    get:
      description: This service returns complete details of a chosen point of interest
        by an identifier. The identifier could be selected from Autocomplete API response.
      operationId: getPOIById
      parameters:
      - description: POI unique Identifier.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/poi'
            application/xml:
              schema:
                $ref: '#/components/schemas/poi'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Points Of Interest Details By Id
      tags:
      - Places Service.
      x-accepts: application/json
  /places/v1/poi/bylocation:
    get:
      description: This service accepts latitude/longitude as input and returns nearby
        points-of-interest places around that location. Additional input features
        include retrieving data by name, type, standard industrial classifications
        and category codes, as well as geographic filtering by radius, travel times
        and travel distances. Response features include JSON/XML as well as CSV download
      operationId: getPOIsByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Specifies the name of the place (POI) to be searched. Also performs
          search on partially specified names. It requires minimum 3 characters to
          search.
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filters the points of interest (POIs) by place types.
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The category codes are unique 4, 6, or 11 digit numeric values.
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The SIC codes are unique 4 or 8 digit numerical values
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: Maximum number of POIs that can be retrieved
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Radius range within which search is performed.
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: Radius unit such as Feet, Kilometers, Miles or Meters (default).
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Travel time within which search is performed (POIs which can
          be reached within travel time).
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: Travel time unit such as minutes (default), hours, seconds or
          milliseconds.
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Travel distance within which search is performed (POIs which
          can be reached within travel distance).
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: Travel distance unit such as Feet (default), Kilometers, Miles
          or Meters.
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: Mode of commute.
        in: query
        name: travelMode
        required: false
        schema:
          type: string
      - description: Whether to sort the results based on relevance (best match) or
          by nearest distance from input location.
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: Whether to allow fuzzy seacrh on name input.
        in: query
        name: fuzzyOnName
        required: false
        schema:
          type: string
      - description: Specifies the page number of results where page size is the value
          of maxCandidates input in request.
        in: query
        name: page
        required: false
        schema:
          type: string
      - description: Determine the leniency used to make a match between the input
          name and the reference data.
        in: query
        name: matchMode
        required: false
        schema:
          type: string
      - description: Specifies the field for the Specific Match Mode.
        in: query
        name: specificMatchOn
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get POIs By Location.
      tags:
      - Places Service.
      x-accepts: application/json
  /places/v1/poi/byarea:
    get:
      description: This service accepts city or postcode (alongwith country) and returns
        points-of-interest places within a city or postcode. Additional input features
        include retrieving data by name, type, standard industrial classifications
        and category codes, as well as geographic filtering by radius, travel times
        and travel distances. Response features include JSON/XML as well as CSV download.
      operationId: getPOIsByArea
      parameters:
      - description: Specifies the largest geographical area, typically a state or
          province
        in: query
        name: areaName1
        required: false
        schema:
          type: string
      - description: Specifies a city or town name
        in: query
        name: areaName3
        required: false
        schema:
          type: string
      - description: Specifies the postcode(ZIP code) in the appropriate format for
          the country
        in: query
        name: postcode1
        required: false
        schema:
          type: string
      - description: Specifies the postcode(ZIP code) extension
        in: query
        name: postcode2
        required: false
        schema:
          type: string
      - description: Country ISO code
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: Specifies the name of the place (POI) to be searched. Also performs
          search on partially specified names. It requires minimum 3 characters to
          search
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filters the points of interest (POIs) by place types
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The category codes are unique 4, 6, or 11 digit numeric values
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The SIC codes are unique 4 or 8 digit numerical values
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: Maximum number of POIs that can be retrieved
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Whether to allow fuzzy seacrh on name input
        in: query
        name: fuzzyOnName
        required: false
        schema:
          type: string
      - description: Specifies the page number of results where page size is the value
          of maxCandidates input in request
        in: query
        name: page
        required: false
        schema:
          type: string
      - description: Determine the leniency used to make a match between the input
          name and the reference data
        in: query
        name: matchMode
        required: false
        schema:
          type: string
      - description: Specifies the field for the Specific Match Mode
        in: query
        name: specificMatchOn
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: GET Points Of Interest By Area.
      tags:
      - Places Service.
      x-accepts: application/json
  /places/v1/poi/byaddress:
    get:
      description: This service accepts an address as input and returns nearby points-of-interest
        places around that address. Additional input features include retrieving data
        by name, type, standard industrial classifications and category codes, as
        well as geographic filtering by radius, travel times and travel distances.
        Response features include JSON/XML as well as CSV download.
      operationId: getPOIsByAddress
      parameters:
      - description: The address to be searched.
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: Country ISO code.
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: Specifies the name of the place (POI) to be searched. Also performs
          search on partially specified names. It requires minimum 3 characters to
          search.
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filters the points of interest (POIs) by place types.
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The category codes are unique 4, 6, or 11 digit numeric values.
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The SIC codes are unique 4 or 8 digit numerical values
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: Maximum number of POIs that can be retrieved
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Radius range within which search is performed.
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: Radius unit such as Feet, Kilometers, Miles or Meters (default).
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Travel time within which search is performed (POIs which can
          be reached within travel time).
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: Travel time unit such as minutes (default), hours, seconds or
          milliseconds.
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Travel distance within which search is performed (POIs which
          can be reached within travel distance).
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: Travel distance unit such as Feet (default), Kilometers, Miles
          or Meters.
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: Mode of commute.
        in: query
        name: travelMode
        required: false
        schema:
          default: driving
          type: string
      - description: Whether to sort the results based on relevance (best match) or
          by nearest distance from input location.
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: Whether to allow fuzzy seacrh on name input.
        in: query
        name: fuzzyOnName
        required: false
        schema:
          type: string
      - description: Specifies the page number of results where page size is the value
          of maxCandidates input in request.
        in: query
        name: page
        required: false
        schema:
          type: string
      - description: Determine the leniency used to make a match between the input
          name and the reference data.
        in: query
        name: matchMode
        required: false
        schema:
          type: string
      - description: Specifies the field for the Specific Match Mode.
        in: query
        name: specificMatchOn
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get POIs By Address.
      tags:
      - Places Service.
      x-accepts: application/json
  /places/v1/poi/autocomplete:
    get:
      description: This service accepts partial text input and returns matching points
        of interest, sorted by relevance or distance.
      operationId: poisAutocomplete
      parameters:
      - in: header
        name: X-Forwarded-For
        required: false
        schema:
          type: string
      - description: Longitude of the location.
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: Free text which will accept a multi-word string. Combination
          of POI name and address is possible.
        in: query
        name: searchText
        required: false
        schema:
          type: string
      - in: query
        name: searchOnNameOnly
        required: false
        schema:
          default: "N"
          type: string
      - description: Radius range within which search is performed.
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: Radius unit such as Feet, Kilometers, Miles or Meters (default).
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Travel time within which search is performed (POIs which can
          be reached within travel time).
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: Travel time unit such as minutes (default), hours, seconds or
          milliseconds.
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Travel distance within which search is performed (POIs which
          can be reached within travel distance).
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: Travel distance unit such as Feet (default), Kilometers, Miles
          or Meters.
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: Mode of commute.
        in: query
        name: travelMode
        required: false
        schema:
          default: driving
          type: string
      - description: Country ISO code.
        in: query
        name: country
        required: false
        schema:
          type: string
      - description: Specifies the largest geographical area, typically a state or
          province.
        in: query
        name: areaName1
        required: false
        schema:
          type: string
      - description: Specifies a city or town name.
        in: query
        name: areaName3
        required: false
        schema:
          type: string
      - description: Specifies the postcode(ZIP code) in the appropriate format for
          the country.
        in: query
        name: postcode1
        required: false
        schema:
          type: string
      - description: Specifies the postcode(ZIP code) extension.
        in: query
        name: postcode2
        required: false
        schema:
          type: string
      - description: IP address which will be used to auto detect the location in
          order to serve contextually relevant results.
        in: query
        name: ipAddress
        required: false
        schema:
          type: string
      - description: Specifies whether to detect client's location using IP address.
          If IP address(below) is not provided and autoDetectLocation is set 'True'
          then IP address will be picked from HTTP request automatically.
        in: query
        name: autoDetectLocation
        required: false
        schema:
          type: string
      - description: Filters the points of interest (POIs) by place types.
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The category codes are unique 4, 6, or 11 digit numeric values.
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results.
          The SIC codes are unique 4 or 8 digit numerical values.
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: Maximum number of POIs that can be retrieved.
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: sortBy
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: Determine the leniency used to make a match between the input
          name and the reference data.
        in: query
        name: matchMode
        required: false
        schema:
          type: string
      - description: Specifies the field for the Specific Match Mode.
        in: query
        name: specificMatchOn
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Points Of Interest Autocomplete
      tags:
      - Places Service.
      x-accepts: application/json
  /places/v1/metadata/sic:
    get:
      description: This service returns a list of standard industrial classification
        codes & associated metadata which can then be used as inputs for querying
        the Points of Interest By Address or Location methods listed above.
      operationId: getSICMetadata
      parameters:
      - description: 4 or 8 digits SIC code to filter the response.
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: 1 or 2.
        in: query
        name: level
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get SIC Metadata
      tags:
      - Places Service.
      x-accepts: application/json
  /places/v1/metadata/category:
    get:
      description: This service returns a list of Category codes & associated metadata
        which can then be used as inputs for querying the Points of Interest By Address
        or Location methods listed above.
      operationId: getCategoryCodeMetadata
      parameters:
      - description: 4, 6, or 11 digits category code to filter the response.
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: 1, 2, or 3.
        in: query
        name: level
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/MetadataResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Category Code Metadata.
      tags:
      - Places Service.
      x-accepts: application/json
  /property/v2/attributes/byaddress:
    get:
      description: GetPropertyAttributesbyAddress Endpoint will take address as an
[...]
